WindowsFormsApplication1/Service References/ServiceReference1/AthugalaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AthugalaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://124.43.22.231:8080/AthugalaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://124.43.22.231:8080/AthugalaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://124.43.22.231:8080/AthugalaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LoanSystemApp" />
      <xsd:import schemaLocation="http://124.43.22.231:8080/AthugalaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LoanSystemApp.Class" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAthugalaService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAthugalaService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAthugalaService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IAthugalaService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAthugalaService_GetLoanDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoanDetails" />
  </wsdl:message>
  <wsdl:message name="IAthugalaService_GetLoanDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoanDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAthugalaService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAthugalaService/Login" message="tns:IAthugalaService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAthugalaService/LoginResponse" message="tns:IAthugalaService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAthugalaService/GetUser" message="tns:IAthugalaService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAthugalaService/GetUserResponse" message="tns:IAthugalaService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoanDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IAthugalaService/GetLoanDetails" message="tns:IAthugalaService_GetLoanDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAthugalaService/GetLoanDetailsResponse" message="tns:IAthugalaService_GetLoanDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="AthugalaService" />
</wsdl:definitions>