WindowsFormsApplication1/Service References/ServiceReference1/AthugalaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LoanSystemApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LoanSystemApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsUser" nillable="true" type="tns:clsUser" />
  <xs:complexType name="MessageClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageClass" nillable="true" type="tns:MessageClass" />
  <xs:complexType name="clsAgent">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentID" type="xs:int" />
      <xs:element minOccurs="0" name="AgentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentUsername" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsAgent" nillable="true" type="tns:clsAgent" />
</xs:schema>