WindowsFormsApplication1/Service References/ServiceReference1/AthugalaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://124.43.22.231:8080/AthugalaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LoanSystemApp" />
  <xs:import schemaLocation="http://124.43.22.231:8080/AthugalaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LoanSystemApp.Class" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LoanSystemApp" minOccurs="0" name="User" nillable="true" type="q1:clsUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LoanSystemApp" minOccurs="0" name="LoginResult" nillable="true" type="q2:MessageClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LoanSystemApp" minOccurs="0" name="GetUserResult" nillable="true" type="q3:clsAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoanNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LoanSystemApp.Class" minOccurs="0" name="GetLoanDetailsResult" nillable="true" type="q4:clsLoan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>